/* Imports */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* CSS Variables */
:root {
	--primary-background: #282A36;
	--nav-background: #44475A;
	--blue-header: #5D7380;
	--light-text: #465578;
	--yellow-link: #979E78;
	--pink-link: #754669;
}

html {
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	color: var(--blue-header);
}

body {
	background: var(--primary-background);
	margin: 0;
	line-height: 1.3;
}

/* Navigation */

.main ul {
	display: grid;
	list-style: none;
	align-items: left;
}