/* Imports */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

/* CSS Variables */
:root {
	--primary-background: #282A36;
	--nav-background: #44475A;
	--blue-header: #8DEEFF;
	--light-text: #465578;
	--yellow-link: #DFD57A;
	--pink-link: #FB88CC;
}

/* Body */
html {
	box-sizing: border-box;
	color: var(--blue-header);
}

body {
	background: var(--primary-background);
	margin: 0;
	font-family: 'Inconsolata', monospace;
	padding-left: 110px;
	line-height: 1.3;
}

/* Navigation */
.main ul {
	display: grid;
	padding-left: 3px; 
	list-style: none;
	align-items: left;
}


#sidebar {
    width: 140px;
    font-size: 15px;
    line-height: 2;
    padding-top: 7px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #44475a;
    color: #fff;
}

button {
 	font-size: 0.9em;
 	padding-top: 10px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    text-align: left;
    outline: none !important; 
}

.main {
	height: 87vh;
}

.social-media {
	padding-left: 14px;
	padding-bottom: 8px;
}

.logo {
	width: 100px;
	height: 29px;
	padding-left: 3px;
	margin-bottom: 8px;
}

/* Icons */
i {
	width: 20px;
	height: 21px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 8%;
	padding: 4px 0;
}

.settings {
	background-color: #8DEEFF;
	font-size: 12px;
}

.settings-txt {
	color: #8DEEFF;
	pointer-events: none;
}

.gists {
	background-color: #5CF481;
	font-size: 13px;
}

.gists-txt {
	color: #5CF481;
	pointer-events: none;
}

.stack {
	background-color: #F9B564;
	font-size: 14px;
}

.stack-txt {
	color: #F9B564;
	pointer-events: none;
}

.trending {
	background-color: #FB88CC;
	font-size: 14px;
}

.trending-txt {
	color: #FB88CC;
	pointer-events: none;
}

.scratch {
	background-color: #B493F3;
	font-size: 12px;
}

.scratch-txt {
	color: #B493F3;
	pointer-events: none;
}

.playground {
	background-color: #F1F1EC;
	font-size: 11px;
}

.playground-txt {
	color: #F1F1EC;
	pointer-events: none;
}

.help {
	background-color: #DFD57A;
	font-size: 11px;
}

.help-txt {
	color: #DFD57A;
	pointer-events: none;
}

.social-media i {
	font-size: 22px;
}

/* Headers */
.blue-header {
	color: var(--blue-header);
	text-transform: uppercase;
	padding-top: 35px;
	text-align: center;
}

/* Popular on R/JAVASCRIPT */
.popular {
	height: 100vh;
}

.popular-entries {
	padding-left: 50px;
	padding-top: 35px;
}


/* Relevant JavaScript History */

.middle {
	height: 100vh;
}

.right {
	height: 100vh;
}